<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>

	<h3>Springboot + Thymeleaf + Materialize Design Lite</h3>
	<h5>Cadastro de Pessoas</h5>
	
	<a href="/cadastropessoa" class="waves-effect waves-light btn">Voltar</a>
	
	<div th:each="p : ${pessoaobj}">
	
		
	
		<div class="row">
			
			<p>ID: <span th:text="${p.id}"></span></p>
			<p>Nome: <span th:text="${p.nome}"></span></p>
			<p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
			<p>Idade: <span th:text="${p.idade}"></span></p>
		</div>
	
	</div>

	<h5>Telefones</h5>
	
	<br />
		<div th:each="m : ${msg}">
			<span th:text="${m}"></span>
		</div>
	<br />
	
	<div class="row">
		<form th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="POST" class="col s12" onsubmit="return validarCampos() ? true : false">
			<div class="row">
				<div class="input-field col s6">
					<label class="active" for="numero">Número:</label>
					<input name="numero" id="numero" class="validade" />
				</div>
				<div class="input-field col s6">
					<label class="active" for="tipo">Tipo:</label>
					<input name="tipo" id="tipo" class="validade" />
				</div>
				<button class="waves-effect waves-light btn" name="btnSalvar" type="submit">
		        	Adicionar
		        </button>
			</div>
		</form>
	</div>
	
	<div class="row">
		<table class="striped">
			<thead>
				<tr>
					<th>Nº Telefone</th>
					<th>Tipo</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tr th:each="fone : ${telefones}" >
				<td th:text="${fone.numero}"></td>
				<td th:text="${fone.tipo}"></td>
				<td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}">Excluir</a></td>
			</tr>
		</table>
	</div>

	<script type="text/javascript" src="materialize/js/materialize.js"></script> 
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script> 
    
    <script type="text/javascript">
    
    	function validarCampos(){
    		
    		let numero = document.getElementById("numero").value;
    		let tipo = document.getElementById("tipo").value;
    		let retorno = true;
    		let msg = [];
    		
    		if(numero === ''){
    			msg.push("Numero deve ser informado");
    			retorno = false;
    		}
    		
    		if(tipo === ''){
    			msg.push("Tipo deve ser informado");
    			retorno = false;
    		}
    		
    		if(retorno == false){
    			alert(msg);
    		}
    		
    		return retorno;
    	}
    	
    </script>
</body>
</html>